#body {
    text-align: center;
    background-color: black;
    align-items: center;
    color: white;
}

.supercont {
    color: white !important;
    font-size: 20px;
    border: 2px dashed white;
}

a{
    color: white !important;
}

.col-4 {
    margin: 10px;
}

.row {
    height: 100px !important;
}